{{this.foo}}

<button
  type="button"
  {{on "click" this.updateFoo}}
></button>

{{#if @onInvalidation}}
  {{did-update (fn @onInvalidation 'foo') this.foo}}
  {{did-update (fn @onInvalidation 'bar') this.bar}}
{{/if}}